@using CodeQuizQuestionsEntryForm
@{
    ViewBag.Title = "Home Page";
}

<div class="hero-unit">
    <h1>@Localize.SiteTitle</h1>
    <p class="lead">
    </p>
    <p>
        @Html.ActionLink("ここからクイズ問題を投稿!", "Index", "Question", null, new { @class = "btn btn-primary btn-large" })
    </p>
</div>