body {
    padding-top: 60px;
    padding-bottom: 40px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

/* styles for removing the background from form */
.no-color {
    background-color: white;
    border-style: none;
}

/*  */
.about-option-image,
.disability-option-image-setup {
    display: none;
}
.fileapi .about-option-image,
.no-fileapi .disability-option-image-setup {
    display: inline-block;
}

.image-holder {
    padding-top: 4px;
}

img.no-image,
.no-image img,
.no-image .btn.remove-image {
    display: none;
}

.btn-add-image {
    display: inline-block;
    position: relative;
    overflow: hidden;
}

.no-fileapi .btn-add-image {
    display: none;
}

.option-image-file {
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0.001;
    font-size: 300px;
    height: 300px;
    cursor: pointer;
}

.remove-image {
    vertical-align: top;
}

.image-actions {
    margin-top: 4px;
}

.hero-unit {
    background-image: url(images/Thumbnail_13-0608.jpg);
    background-position: 16px 16px;
    background-repeat: no-repeat;
    height: 512px;
    padding-left: 550px;
}
